<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mybinuvem.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.sumusanalitics.app.PrincipalActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.sumusanalitics.app.LoginActivity" />
        </activity>
        <activity
            android:name="br.com.sumusanalitics.app.ConfigActivity"
            android:label="@string/title_activity_config"
            android:noHistory="true"
            android:parentActivityName="br.com.sumusanalitics.app.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.sumusanalitics.app.LoginActivity" />
        </activity>
        <activity
            android:name="br.com.sumusanalitics.app.LoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.sumusanalitics.app.TermosDeUsoActivity"
            android:label="@string/title_activity_termos_de_uso"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="br.com.sumusanalitics.app.VisualizarTermoActivity"
            android:label="@string/title_activity_visualizar_termo"
            android:parentActivityName="br.com.sumusanalitics.app.TermosDeUsoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.sumusanalitics.app.TermosDeUsoActivity" />
        </activity>
        <activity
            android:name="br.com.sumusanalitics.app.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>